include LICENSE README.md requirements.txt run addalias.sh
include *.py
recursive-include arsenal/data/cheats *
recursive-include img *
recursive-exclude .obsidian *
recursive-exclude mindmap *
recursive-exclude my_cheats *
recursive-exclude cheats/.obsidian *
recursive-exclude arsenal.egg-info *

